<script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
<style type="text/css">
  /* Главный заголовок */
  div.healcode .healcode-title-text {
    color: rgba(0, 0, 255, 0) !important;
  }
  div.healcode .hc_header_time {
    visibility: hidden;
  }
  /*Дата Время День строки / меню */
  div.healcode table.schedule tr th,
  div.healcode table.enrollments tr th,
  div.healcode table.healcode-appointments tr th,
  div.healcode ol.enrollment_list li.cancelled div tr th {
    background-color: transparent !important;
    color: #fff  !important;
  }
  /*Дата Время День строки / не меню */
  div.healcode table.enrollments, div.healcode ol.enrollment_list li.cancelled div {
    background-color: transparent !important;
    font-family: 'Avenir next';
    text-transform: uppercase;
    color: #fff  !important;
  }
  div.healcode table.enrollments tr th {
    background-color: rgba(0, 255, 186, 0.1) !important;
  }
  /* Инструктор и семинар*/
  div.healcode a {
    color: #00ffc5;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Avenir next';
    text-transform: uppercase;
    text-decoration: none;

  }
  /* MORNING   AFTERNOON   EVENING */
  div.healcode label {
    visibility: hidden;
  }
  /* checkbox */
  div.healcode input {
    visibility: hidden;
  }
  /* | */
  div.healcode .healcode-previous {
    visibility: hidden;
  }
  /* | */
  div.healcode .healcode-today {
    visibility: hidden;
  }
  div.healcode table.schedule tr.odd td, div.healcode div.list_view li.odd, div.healcode table.list_view ol.schedule_list li.odd {
    background-color: transparent !important;
    font-size: 15px;
    font-family: 'Avenir';
    text-transform: uppercase;
  }
  /*ЗАПИСЬ*/
  div.healcode .hc-button.signup_now {
    color: #fff !important;
    background-color: transparent !important;
    font-size: 15px;
  }
  div.healcode {
    background-color: transparent !important;
  }
  /*PREVIOUS TODAY NEXT*/
  div.healcode .week_links a, div.healcode .week_links a:visited, div.healcode .day_links a, div.healcode .day_links a:visited, div.healcode .healcode-date-links-area a {
    visibility: hidden;
  }
  /*CALENDAR*/
  div.healcode .date_links {
    visibility: hidden;
  }
  div.healcode .healcode-calendar {
    visibility: hidden;
  }
  div.healcode .healcode-date-links-area .week_links {
    visibility: hidden;
  }
  /* скрыть полусу прокрутки хром, сафари */
  .element::-webkit-scrollbar { width: 0; }

  /* скрыть полусу прокрутки ie 10+ */
  .element { -ms-overflow-style: none; }

  /*Footer*/
  div.healcode .hc_footer {
    visibility: hidden;
  }
</style>
<healcode-widget data-type="enrollments" data-widget-partner="object" data-widget-id="472759125a0" data-widget-version="0.1"></healcode-widget>
