<script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
<style type="text/css">
  /*Name*/
  div.healcode .trainer_list h1.trainer_name {
    color: #00ffc5 !important;
    font-family: 'Avenir next', 'Avenir light';
    text-transform: uppercase;
    text-decoration: none;
  }
  /*Bio*/
  div.healcode .trainer_bio {
    font-size: 14px;
    font-family: 'Avenir next';
    color: #fff !important;
  }
  /*Botton*/
  div.healcode .class_list .class_offered_link, div.healcode .class_list .trainer_teaches_link, div.healcode .trainer_list .class_offered_link, div.healcode .trainer_list .trainer_teaches_link {
    background-color: rgba(0, 0, 255, 0) !important;
  }
  div.healcode .trainer_list .trainer_teaches_link a {
    font-size: 10px;
  }
  /*Class View*/
  div.healcode span.healcode-title-text {
    visibility: hidden !important;
  }
  div.healcode .hc_header_time {
    visibility: hidden !important;
  }
  div.healcode, div.healcode table.schedule tr td, div.healcode table.schedule tr td ol.schedule_list li {
    color: #rgb(74, 73, 74) !important;
    font-size: 15px;
  }
  /*Преподаватель*/
  div.healcode a {
    color: #00ffc5;
    font-size: 15px;
    font-family: 'Avenir next';
    text-transform: uppercase;
    text-decoration: none;
  }
  div.healcode table.schedule tr.odd td, div.healcode div.list_view li.odd, div.healcode table.list_view ol.schedule_list li.odd {
    background-color: rgba(0, 0, 255, 0) !important;
    font-size: 15px;
    font-family: 'Avenir next';
    text-transform: uppercase;
  }
  div.healcode table.schedule tr.even td, div.healcode div.list_view li.even, div.healcode table.list_view ol.schedule_list li.even {
    background-color: rgba(0, 0, 255, 0) !important;
    font-size: 15px;
    font-family: 'Avenir next';
    text-transform: uppercase;
  }
  div.healcode .header {
    background-color: rgba(0, 0, 255, 0) !important;
  }
  /*Название класса*/
  div.healcode .classname a {
    color: #00ffc5;
    font-weight: normal;
    font-size: 15px;
  }
  div.healcode table.schedule tr th, div.healcode table.schedule ol.schedule_list li.schedule_header {
    background-color: rgba(0, 255, 186, 0.1)  !important;
  }
  div.healcode table.schedule tr th, div.healcode table.schedule ol.schedule_list li.schedule_header {
    font-size: 15px;
    font-family: 'Avenir next';
    color: #fff !important;
  }
  /*My accaunt*/
  div.healcode a.action_icon.my_account_version {
    color: rgb(83, 85, 85) !important;
  }
  div.healcode .week_links a, div.healcode .week_links a:visited, div.healcode .day_links a, div.healcode .day_links a:visited, div.healcode a.hc-button, div.healcode .healcode-date-links-area a {
    background-color: rgba(0, 0, 255, 0) !important;
    color: #fff !important;
    font-size: 15px;
    font-family: 'Avenir next';
    text-transform: uppercase;
    text-decoration: none;
  }
  div.healcode .hc-button.signup_now {
    color: #fff !important;
    background-color: transparent !important;
    font-size: 15px;
  }
  /*MB logo*/
  div.healcode div.hc_footer {
    background-color: transparent !important;
    visibility: hidden;
  }
</style>
<healcode-widget data-type="staff_lists" data-widget-partner="object" data-widget-id="471949125a0" data-widget-version="0.1"></healcode-widget>
